.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}